<app-layout
  [sidenavItems]="sidenavItems">
  <main class="main" fxFlex="100%">
    <app-header [title]="'Carregar Mge'" [iconName]="'dashboard'"></app-header>

    <section fxLayout="column">
      
      <form style="margin-top: 18px; margin-block-end: -8px;" [formGroup]="formMge" fxLayoutAlign="center center">
        <mat-form-field style="width: 70px;"  appearance="outline"  >
           <mat-label>Mês</mat-label>
           <input matInput type="text"  maxlength="5" placeholder="00/20" formControlName="periodo">
         </mat-form-field>
      </form>



      <div fxFlex fxLayout="column"  class="container" fxLayoutAlign="center center">
        <input type="file" (change)="onFileChangePSM($event)" />

       <!-- <div id="output"></div>
        <br>
        <div *ngIf="willDownload">
          <a id="download"> Download JSON File </a>
        </div>
        <div *ngIf="planilha">
          <div fxLayout="row" *ngFor="let item of planilha">
            <p>{{item.GR}}</p>
          </div>
        </div>-->
      </div>
    </section>
    
    <section style="padding: 8px;">
      <p><b>No excel a planilha precisa ter o nome Plan1</b></p>

      <p><b>Colunas precisam obrigatóriamente seguir essa ordem com esses nomes:</b></p>
      | gerencia |	loc	localidade |	unidade |	ose	processo |	tipo |	descricao	| equipe |	responsavel	| data |	prazo	| qtd_equipamentos |

      <p>
        SELECT
        SRCDCC.D4                                 AS 'gerencia'
        , SMICL_TODAS_LOCALIZACOES.COD2 AS 'loc' 
        , SMICL_TODAS_LOCALIZACOES.TITULO1        AS 'localidade'
        , SMICL_TODAS_LOCALIZACOES.TITULO2        AS 'unidade'
        , SMIOS.OS_CODIGO                         AS 'ose'
        , SMICL_TODAS_LOCALIZACOES.ULTIMO_TITULO AS 'processo'
        , SMICL_TODAS_LOCALIZACOES.TIPO_CONTA AS 'tipo'
        , SMIOS.OS_TITULO                         AS 'descricao'
        , SMIOS.OS_UO_E   AS 'equipe'
        , SMIOS.CT_NOME_R AS 'responsavel'
        , CONVERT(CHAR(10), SMIOS.OS_DATA_P, 103)                       AS 'data'
        , CONVERT(CHAR(10), SMIOS_PSM_PRAZO.PRAZO, 103)                 AS 'prazo'
         , CASE
          WHEN substring(SMICL_TODAS_LOCALIZACOES.COD2,3,1) = 'A' THEN 1
          WHEN SRCCEL.D7 IS NOT NULL  THEN SRCCEL.D7
          ELSE 0
          END AS 'qtd_equipamentos'
      FROM
        SMIOS
        INNER JOIN
          SMIOSST
          ON
            (
              SMIOS.OS_STATUS = SMIOSST.OS_STATUS
            )
        INNER JOIN
          SMIPE8
          ON
            (
              SMIOS.PS_CODIGO = SMIPE8.PS_CODIGO
            )
        INNER JOIN
          SMICL_TODAS_LOCALIZACOES
          ON
            (
              SMIPE8.LOC_CODIGO = SMICL_TODAS_LOCALIZACOES.ULTIMO_COD
            )
        INNER JOIN
          SRCDCC
          ON
            (
              SMICL_TODAS_LOCALIZACOES.COD_CONTABIL_NV2= SRCDCC.CODIGO
            )
        LEFT OUTER JOIN
          SMIMN
          ON
            (
              SMIOS.MN_CODIGO = SMIMN.MN_CODIGO
            )
        LEFT OUTER JOIN
          SMIOSA_HHT_DATA_MIN_E_MAX
          ON
            (
              SMIOS.OS_CODIGO = SMIOSA_HHT_DATA_MIN_E_MAX.OS_CODIGO
            )
        LEFT OUTER JOIN
          SMIOS_PSM_PRAZO
          ON
            (
              SMIOS.OS_CODIGO = SMIOS_PSM_PRAZO.OS_CODIGO
            )
         LEFT OUTER JOIN 
        SRCCEL 
        ON 
        SRCCEL.D1=SMICL_TODAS_LOCALIZACOES.COD2
      WHERE
          SMIOS.OS_CCE                              = '611'
          --AND SMIOS.OS_UO_E                         = 'SDMEH'
        AND YEAR(SMIOS.OS_DATA_P) = 2021
        AND MONTH(SMIOS.OS_DATA_P) = 10
          --AND convert(char(8),SMIOS.OS_DATA_P,112) >= '20201001'
          --AND convert(char(8),SMIOS.OS_DATA_P,112) <= '20201030'
      ORDER BY
        SRCDCC.D4
        ,'20' + RIGHT(OS_SEM_P, 2) + '-' + RIGHT('00' + LTRIM(LEFT(OS_SEM_P, 2)), 2)
        , SMIOS.OS_DATA_P
    </p></section>
  </main>
</app-layout>

<app-footer></app-footer>
