<section fxLayout="column">
   
     <section fxLayout="column" fxFlex.xs="100%" class="cardSection"  *ngIf="usuarios">
          <section fxFlex="100%" fxLayoutAlign="center center"   *ngIf="usuarios.length == 0">
               <mat-card fxFlex="100%"  fxLayoutAlign="center center" style="padding: 10px;">
                    <mat-card-content fxFlex="100%" class="card-content-vazio" fxLayoutAlign="center center" >
                    <mat-card-title class="card-tx-nome">Nenhuma Usuário encontrado</mat-card-title>
                    </mat-card-content>        
               </mat-card>
          <!-- <mat-divider></mat-divider> -->
          </section>

          <section fxFlex="100%"  fxLayout="row" fxLayoutAlign="space-between"  *ngFor="let usua of usuarios">        
               <mat-card fxFlex="95%"  fxLayout="row" fxLayoutAlign="space-between start">
                    <mat-card-content fxFlex="100%" fxLayout="column" class="card-content" >
                              
                         <div fxFlex="100%" fxLayout.gt-xs="row" fxLayout.lt-sm="column">
                              <div fxLayout="row" fxFlex="100%" style="width: 100%;" fxLayoutAlign="space-between start" class="div-descricao1" >
                                   <p class="card-tx-tipo card-tx-tipo-titulo"> Nome: </p>
                                   <p class="card-tx-tipo"> {{usua.nome}}</p>
                                   <p class="card-tx-tipo card-tx-tipo-titulo"> Equipe: </p>
                                   <p class="card-tx-tipo"> {{usua.equipe}}</p>                  
                              </div>
                              <div fxLayout="row" fxFlex="100%" style="width: 100%;" fxLayoutAlign="space-between start" class="div-descricao1" >
                                   <p class="card-tx-tipo card-tx-tipo-titulo"> Email: </p>
                                   <p class="card-tx-tipo"> {{usua.email}}</p>             
                              </div>
                         </div>

                         <div fxFlex="100%" fxLayout.gt-xs="row" fxLayout.lt-sm="column">
                              <mat-divider></mat-divider>
                              <p *ngIf="!usua.rules" style="color: darkred;"> ERRO RULES</p>
                              <div fxLayout="row" fxFlex="100%" style="width: 100%;" fxLayoutAlign="start" class="div-descricao1" *ngIf="usua.rules" >
                                   <p class="card-tx-tipo card-tx-tipo-titulo"> Configuração: </p>
                                   <p class="card-tx-tipo card-tx-border" *ngIf="usua.rules.visualizarTodas"> Visualizar Todas</p> 
                                   <p class="card-tx-tipo card-tx-border" *ngIf="usua.rules.semCarimboConferEquipamento">Carimbo</p>  
                                   <p class="card-tx-tipo card-tx-tipo-titulo"> Home: </p>
                                   <p class="card-tx-tipo card-tx-border" *ngIf="usua.rules.home"> {{usua.rules.home}}</p> 
                              </div>
                         </div>
                         <div fxFlex="100%" fxLayout.gt-xs="row" fxLayout.lt-sm="column">
                              <mat-divider></mat-divider>
                              <div fxLayout="row" fxFlex="100%" style="width: 100%;" fxLayoutAlign=" start" class="div-descricao1" *ngIf="usua.rules" >
                                   <p class="card-tx-tipo card-tx-tipo-titulo"> Setor: </p>
                                   <p class="card-tx-tipo card-tx-border" *ngIf="usua.rules.expedicao"> Expedição</p>    
                                   <p class="card-tx-tipo card-tx-border" *ngIf="usua.rules.oficina"> Oficina</p>     
                                   <p class="card-tx-tipo card-tx-border" *ngIf="usua.rules.administrador">Adm</p>    
                                   <p class="card-tx-tipo card-tx-border" *ngIf="usua.rules.materiais">Materiais</p> 
                                   <p class="card-tx-tipo card-tx-border" *ngIf="usua.rules.contratacoes">Contratações</p>   
                              </div>
                         </div>
                         <div fxFlex="100%" fxLayout.gt-xs="row" fxLayout.lt-sm="column">
                              <mat-divider></mat-divider>
                              <div fxLayout="row" fxFlex="100%" style="width: 100%;" fxLayoutAlign=" start" class="div-descricao1" *ngIf="usua.rules" >
                                   <button mat-stroked-button [routerLink]="[ '/usuario/editar', usua.uid]" style="color: blue; margin-right: 10px; margin-top: 8px;"><mat-icon>edit</mat-icon>Editar</button>
                              </div>
                         </div>
                    </mat-card-content> 
               </mat-card>
               <mat-divider></mat-divider>
          </section>
     </section>
</section>
