<!-- <div mat-dialog-content> -->
  <section style="margin: -24px;" >

        <!-- <div class="file-upload">
            <span class="text">upload</span>
            <input id="custom-input" type="file" (change)="fileChangeListener($event)">
        </div> -->
        <img-cropper #cropper [image]="imageCropData" [settings]="cropperSettings"></img-cropper>
        <br>
        <!-- <span class="result rounded" *ngIf="imageCropData.image" >
            <img [src]="imageCropData.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
        </span> -->
       

     
  </section>
<!-- </div> -->

<mat-dialog-actions align="center" style="margin-top: 20px;">
  <!-- <button mat-stroked-button fxHide.lt-md="false" fxHide.gt-sm="true" *ngIf="conteudoAlert.opcao1" (click)="dialogRef.close({retorno: 'opcao1', tela: 'celular'})" style="padding: 0 25px 0 25px; margin: 10px;">{{conteudoAlert.opcao1}}</button>
  <button mat-stroked-button fxHide.lt-md="false" fxHide.gt-sm="true" *ngIf="conteudoAlert.opcao2" (click)="dialogRef.close({retorno: 'opcao2', tela: 'celular'})" style="padding: 0 25px 0 25px; margin: 10px;">{{conteudoAlert.opcao2}}</button>

  <button mat-stroked-button fxHide.lt-md="true" fxHide.gt-sm="false" *ngIf="conteudoAlert.opcao1" (click)="dialogRef.close({retorno: 'opcao1', tela: 'computador'})" style="padding: 0 25px 0 25px; margin: 10px;">{{conteudoAlert.opcao1}}</button>
  <button mat-stroked-button fxHide.lt-md="true" fxHide.gt-sm="false" *ngIf="conteudoAlert.opcao2" (click)="dialogRef.close({retorno: 'opcao2', tela: 'computador'})" style="padding: 0 25px 0 25px; margin: 10px;">{{conteudoAlert.opcao2}}</button> -->
  <button mat-stroked-button mat-dialog-close cdkFocusInitial style="padding: 0 25px 0 25px; margin: 10px;">Voltar</button>
  <button mat-raised-button	color="warn" (click)="getImageData()">Salvar</button>
</mat-dialog-actions>
