<main class="main" fxFlex="100%" fxLayoutAlign="center start">
     <section fxLayout="column" class="section">
          <section fxFlex="100%"  fxLayout="row" fxLayoutAlign="center" *ngIf="medicao">
               <h3>Controladores em teste</h3>
          </section>

          <section fxFlex="100%"  fxLayout="row" fxLayoutAlign="center" *ngIf="medicao">

               <mat-card fxLayout="column" fxLayoutAlign="space-between start">
                    <mat-card-content fxLayout="row" fxLayoutAlign="space-between start">
                         <section fxLayout="column" class="card-content" fxLayoutAlign="center center" style="color: darkred;">
                              <p>Temperatura</p>
                              <div fxLayout="row">
                                   <mat-icon aria-hidden="false" aria-label="Temperatura icone" style="margin: 8px 0px;">thermostat</mat-icon>
                                   <h2 style="margin: 8px 0px;">{{medicao.temperatura}}ºF</h2>
                              </div>
                         </section>
                         <section fxLayout="column" class="card-content" fxLayoutAlign="center center" style="color: blue;">
                              <p>Umidade</p>
                              <div fxLayout="row">
                                   <mat-icon aria-hidden="false" aria-label="Temperatura icone" style="margin: 8px 0px;">water_drop</mat-icon>
                                   <h2 style="margin: 8px 0px;">{{medicao.umidade}}%</h2>
                              </div>
                             
                         </section>
                    </mat-card-content>
                    <mat-card-content fxLayout="column" class="card-content" fxLayoutAlign="end end">
                         <p>{{medicao.updated}}</p>
                    </mat-card-content>
               </mat-card>
          </section>      
               


          <section *ngIf="medicao" style="padding: 12px; margin-block-end: 20px;">
               <canvas *ngIf="temperaturas.length > 0" baseChart width="400" height="250"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                  </canvas>
          </section>
          <section fxFlex="100%"  fxLayout="row" fxLayoutAlign="center space-between"  *ngFor="let medidor of medidores" style='padding: 4px;'>
               <button mat-raised-button 
                    (click)="getMedicoesSubscribe(medidor.id)">
                    {{medidor.id}}
               </button>
          </section>
          <section fxLayout="column"  fxLayoutAlign="center space-between">
               <h3>START</h3>
               <section fxFlex="100%"  fxLayout="row"  *ngFor="let log of logs" >
                    <section *ngIf="log[3] == 'START'" fxLayout="row" style='padding: 2px;'>
                         <p class="margin">
                              {{log.createdAt.seconds*1000 | date: 'dd/MM/yy HH:mm'}}
                         </p>
                         <p>
                              Alarme: {{log[6]}}
                          </p>
                         <p>
                             V: {{log[9]}}
                         </p>
                         <p>
                              | {{log[10]}} | 
                         </p>
                         <p>
                              |flap lado: {{log[10]}} | 
                         </p>
                    </section>
               </section>

               <h3>SET</h3>
               <!-- msg_MQTT_set = 0 id + "#" +1 cod_secure + "#2 L#3 SET#"+ 4 String(set_temp) + "#"+ 5 String(set_umid) + "#" +6 String(status_ventoinha_rele) + "#" +7 String(t.mday) + "/" + String(t.mon) + "/"  + String(t.year-2000) +"#"+ String(t.hour) + ":" + String(t.min) +"#"+ String(numero_etapa)+"#";      -->
               <section fxFlex="100%"  fxLayout="row"  *ngFor="let log of logs">
                    <section *ngIf="log[3] == 'SET'" fxLayout="row" style='padding: 2px;'>
                         <p class="margin">
                              local: {{log[7]}} {{log[8]}}
                         </p>
                         <p class="margin">
                              server: {{log.createdAt.seconds*1000 | date: 'dd/MM/yy HH:mm'}}
                         </p>
                         <p>
                              | SET T: {{log[4]}} | 
                         </p>
                         <p>
                              | SET U: {{log[5]}} | 
                         </p>
                         <p>
                              |ventoinha {{log[6]}} | 
                         </p>
                         <p>
                              | flap {{log[10]}} seg | 
                         </p>
                         <p>
                              | flap {{log[11]}} lado | 
                         </p>
                    </section>
               </section>
          </section>
     </section>

     


</main>

