
  <main class="main" fxFlex="100%">
    <section *ngIf="carregandoUpload" style=" background-color: rgba(10,23,55,0.5); z-index: 2;  position: fixed; height: 100%; width: 100%; padding-top: 120px; padding-block-end: 260px; margin-top: -130px;" fxLayoutAlign="center center" fxLayout="column">
<!--    <img src="../../../assets/icons/152x152.png">-->
<!--      <mat-progress-bar mode="indeterminate" style="padding-top: 40px; width: 192px;"></mat-progress-bar>-->
      <mat-spinner ></mat-spinner>
      <h3>Carregando Imagem</h3>
    </section>

    <section fxLayout="column">

      <section fxLayout="column" fxFlex.xs="100%" class="cardSection"  *ngIf="mges">
        <mat-divider></mat-divider>
        <div fxLayout="row"  fxLayout.lt-sm="column" >
          <div fxFlex="100%" fxLayoutAlign="space-around center">

            <mat-radio-group aria-label="Select an option" fxLayout="row" [(ngModel)]="statusEscolhido">
              <mat-radio-button value="Pendentes" (click)="iniciandoListaMgesPendentes()">Pendentes</mat-radio-button>
              <mat-radio-button value="Executadas" (click)="iniciandoListaMgesExecutadas()" style="margin-left: 8px;">Executadas</mat-radio-button>
            </mat-radio-group>

            <form style="margin-top: 18px; margin-block-end: -21px;">
            <mat-form-field style="width: 70px;"  appearance="outline"  >
                <mat-label>Mês</mat-label>
                <input matInput type="text"  maxlength="5"   mask="00/00" [dropSpecialCharacters]="false" [formControl]="formPeriodo" (blur)="iniciandoListaMgesPendentes()" >
              </mat-form-field>
            </form>

          
            <!--  <h3 style="margin: 8px;">{{formStatus.value}}</h3>
            <button mat-icon-button aria-label="Recarregar" (click)="iniciandoListaMges()">
              <mat-icon>refresh</mat-icon>
            </button>-->
          </div>

          <form style="margin: 18px 12px -21px 14px;" *ngIf="equipes">
            <mat-form-field appearance="outline" style="width: 100px;" >
              <mat-label>Equipe</mat-label>
              <mat-select disableRipple [formControl]="formEquipe">
                <mat-option  *ngFor="let equipe of equipes" [value]="equipe" (click)="salvarLocalStorageEquipe(equipe)">{{equipe}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
        
        <section fxFlex="100%" fxLayoutAlign="center center"   *ngIf="mges.length == 0">
          <mat-card fxFlex="100%"  fxLayoutAlign="center center" style="padding: 10px;">
            <mat-card-content fxFlex="100%" class="card-content-vazio" fxLayoutAlign="center center" >
              <mat-card-title class="card-tx-nome">Nenhuma Preventiva com status {{statusOSE}}</mat-card-title>
            </mat-card-content>        
          </mat-card>
          <!-- <mat-divider></mat-divider> -->
        </section>

        <section fxFlex="100%"  fxLayout="row" fxLayoutAlign="space-between"  *ngFor="let mg of mges">
          <mat-card fxFlex="100%"  fxLayout="row" fxLayoutAlign="space-between start" class="status{{mg.status}}" >
            <mat-card-content fxFlex="100%" fxLayout="column" class="card-content" >

              <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between" >
                  <p class="card-tx-tipo" *ngIf="mg.OSE.localidade"> {{mg.OSE.localidade}}</p>
                  <p class="card-tx-tipo" *ngIf="mg.OSE.unidade">{{mg.OSE.unidade}}</p>
                  <p class="card-tx-tipo" *ngIf="mg.OSE.processo !== mg.OSE.unidade">{{mg.OSE.processo}} </p>
                  <p class="card-tx-tipo" style="font-weight: bold">{{mg.OSE.descricao}}</p>
                  <div fxLayout="row" fxLayoutAlign="space-between">
                    <p class="card-tx-tipo" style="margin-right: 15px">{{mg.uid}}</p>
                    <p class="card-tx-tipo">{{mg.OSE.data.toDate() | date:'dd/MM/yy'}}</p>
                  </div>
<!--                  <div>-->
<!--                    <p *ngIf="mg.status === '1-pendente'" class="tag-status1">{{mg.uid}}</p>-->
<!--                    <p *ngIf="mg.status === '7-executada'" class="tag-status3">{{mg.uid}}</p>-->
<!--                  </div>-->


                  <div fxLayout="row" fxLayoutAlign="center" fxLayoutAlign.lt-sm="space-between start" style="margin-top: -4px">
                    <p class="card-tx-tipo" *ngIf="mg.OSE.data_execucao" style="font-weight: bold; margin-top: 8px; color: darkblue;">Exec {{mg.OSE.data_execucao.toDate() | date:'dd/MM/yy'}}</p>
                    <div *ngIf="mg.hora">
                      <p class="card-tx-tipo"  *ngIf="mg.hora.inic"style="font-weight: bold; margin-top: 8px; color: darkblue;">{{mg.hora.inic}} - {{mg.hora.fim}}</p>
                    </div>
                    <div>
                      <button mat-icon-button color="accent" aria-label="Informar medições" (click)="detalhesDialog(mg)" style="color: forestgreen; margin-left: 10px;">
                          <mat-icon>visibility</mat-icon>
                      </button>
                  </div>
                    <div>
                        <button mat-icon-button color="accent" aria-label="Informar medições" (click)="medicoesDialog(mg)" style="color: forestgreen; margin-left: 4px;">
                            <mat-icon>post_add</mat-icon>
                        </button>
                    </div>
                    <div>
                      <button mat-icon-button color="accent" aria-label="Informar medições" (click)="uploadImgCompress(mg)" style="color: forestgreen; margin-left: 4px;">
                          <mat-icon>add_a_photo</mat-icon>
                      </button>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center" style="margin-top: 18px; margin-left: 4px; margin-right: 10px; margin-block-end: -10px;" >
                        <mat-form-field style="width: 22px;">
                            <ngx-mat-file-input placeholder="Inserir imagem" style="padding: 0px !important;" (change)="uploadImg($event, mg)"></ngx-mat-file-input>
                            <mat-icon matSuffix>add_a_photo</mat-icon>
                        </mat-form-field>
                    </div>
                  </div>
                  <p class="card-tx-tipo" *ngIf="mg.usuario !== ''" style="font-weight: bold; color: darkblue; margin-top: -4px;">{{mg.usuario.nome}}</p>

              </div>

              <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center">
                  <div fxLayout="row" *ngIf="mg.img" fxLayoutAlign="center" style="margin: 5px;">
                      <div fxLayout="row" *ngFor="let img of mg.img" fxLayoutAlign="center">
                          <!-- <p>{{img}}</p> -->
                          <img src="{{img}}" width="50px" (click)="abrirImg(mg, img)" style="margin: 2px;">
                      </div>
                  </div>
              </div>


            </mat-card-content> 
            <!-- <mat-card-content  fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutAlign="end center" class="card-content-actions">
              <button mat-flat-button color="warn" *ngIf="mg.status == '1'" (click)="aceitarPedido(mg.id)" class="button-cards">Aceitar</button>
              <button mat-flat-button *ngIf="mg.status == '2'" (click)="terminadoPedido(mg.id)" class="button-cards button-pronto">Pronto</button>
              <button mat-stroked-button color="primary" *ngIf="mg.status == '3'" (click)="entreguePedido(mg.id)" class="button-cards">Fechar</button>
              <button mat-stroked-button (click)="dialogPedidoDetalhes(mg.id)" class="button-cards"><mat-icon>print</mat-icon></button>
            </mat-card-content>           -->
          </mat-card>
          <mat-divider></mat-divider>
      </section>

      <section fxLayout="row" fxLayoutAlign="end" style="margin: 10px;">
        <p>Quantidade: </p>
        <p style="font-weight: bolder; margin-left: 4px;">{{mges.length}}</p>
      </section>
      
      
      <!-- <section fxFlex="100%" fxLayoutAlign="center center"   *ngIf="mgitacoes.length == 0">
        <mat-card fxFlex="100%"  fxLayoutAlign="center center">
          <mat-card-content fxFlex="100%" class="card-content-vazio" fxLayoutAlign="center center" >
            <mat-card-title class="card-tx-nome">Nenhum pedido pendente</mat-card-title>
          </mat-card-content>        
        </mat-card>
        <mat-divider></mat-divider>
      </section> -->

      <section fxLayout="row" fxLayoutAlign="end" style="margin: 10px;">
        <button mat-icon-button aria-label="Baixar em Excel" (click)="downloadExcel()">
          <mat-icon>get_app</mat-icon>
        </button>
      </section>





      </section>
    </section>

  </main>
